$primary: #c44569;
$second: #1f2638;
$thirdly: #ecf0f1;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: $second;
  color: $thirdly;
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;

  &::before {
    margin-right: 1rem;
    color: $primary;
  }
}

h1::before {
  content: '#';
}

h2::before {
  content: '##';
}

h3::before {
  content: '###';
}

code, pre, footer, header {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: $thirdly;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-bottom: 0.15rem solid $primary;
  transition: 150ms ease-in-out background-color;

  &:hover {
    background-color: $primary;
  }
}

footer, header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
